html{
  background-color: plum;
}

.App {
 text-align: center;
  display: flex;
  justify-content: center;
 align-items: center;
  flex-direction: column;
  color: white;
}
h1{
  color:white;
  font-size: 40px;
  font-family: 'Homemade Apple', cursive;
}

h2{
  color: white;
  font-size: 20px;
}

